
{{- $logoImage := .Site.Params.logo.image -}}

<div class="header">
<div class="navwrapper">

	<div class="logowrapper"><a href="/"><img src="images/logo.jpg" alt="logo"></a></div>

	<div class="nav">
		<div class="mainnav clearfix">
			<ul id="nav">
			{{ range .Site.Menus.main }}
					<li>
						<a href="{{ if or (eq .URL "cloudata") (eq .URL "about")}}#{{ .URL }}{{ else }}{{ .URL }}{{ end }}">
							{{ .Name }}
						</a>
					</li>
			{{ end }}
			</ul>
		</div>

		<div class="subnav clearfix">
			<ul>
				<li><a>链接</a></li>
				<li><a>链接</a></li>
				<li><a>链接</a></li>
			</ul>
		</div>

	</div>


</div>
</div>
