{{ define "main" }}

<div class="feature">
	<div class="featured-media">
		<div class="featured-media-inner section-inner">
			{{ .Content }}
		</div>
	</div>
	<div class="feature-media-subtext">
		<p>截止到2020年12月31日，中国社区厨余堆肥平台共在全国7省9市展开堆肥试点，堆肥处理有机固体废弃物 吨。</p>
	</div>
</div>

<div class="content">
	<div class="section_1">
		<div class="mainwrap">
			<div class="news">
				<h2>
					<b></b>
					雪华说
					<b></b>
				</h2>
				<ul class="clearfix">
					{{- range (where site.RegularPages "Section" "blog" | first 3) -}}
					<li>
						<a href="{{ .Permalink }}">
							<div class="time">
								<span>{{ dateFormat "02" .Date }}</span>
								{{ dateFormat "2006" .Date }}.{{ dateFormat "01" .Date }}
							</div>
							<div class="txtwrapper">
								<h3>{{ .Title }}</h3>
								<p>Convallis, massa eu vestibulum commodo, quam mauris interdum arcu, at
								Duis ac erat. Etiam consequat. </p>
							</div>
						</a>
					</li>
					{{- end -}}
				</ul>
			</div>

			<a class="newsmore" href="/blog">更多推文</a>

			<div>
				<a href="/blog"><img class="xuehua" src="/images/carousel1.png" alt="xuehua" style="width: 100%; margin-top: 20px;"></a>
			</div>
		</div>
	</div>

	<div class="section_2">
		<div class="mainwrap">
			<h2>
				<span>前沿动态</span>
				<a class="more" href="/preface">更多 ></a>
			</h2>
		   <div class="focus">

			<div class="autoplay bigplay" >
				<div id="bigpic" class="clearfix">
					<img src="images/1.jpeg" alt=""/>
					<a><div class="txtwrapper">
						<div class="cata">学术活动</div>
						<h3>“鸿图华构·人文清华故宫行”直播</h3>
						<p>“鸿图华构·人文清华故宫行”大型直播，故宫博物院与清华大学合作，邀请知名学者带领观众近距离欣赏故宫建筑，观看历史细节，读解中国文化。</p>
						</div></a>
				</div>

				<div id="bigpic" >
					<img src="images/2.jpeg" alt=""/>
					<a><div class="txtwrapper">
						<div class="cata">学术活动</div>
						<h3>“鸿图华构·人文清华故宫行”直播</h3>
						<p>“鸿图华构·人文清华故宫行”大型直播，故宫博物院与清华大学合作，邀请知名学者带领观众近距离欣赏故宫建筑，观看历史细节，读解中国文化。</p>
						</div></a>
				</div>

				<div id="bigpic" >
					<img src="images/3.jpeg" alt=""/>
					<a><div class="txtwrapper">
						<div class="cata">学术活动</div>
						<h3>“鸿图华构·人文清华故宫行”直播</h3>
						<p>“鸿图华构·人文清华故宫行”大型直播，故宫博物院与清华大学合作，邀请知名学者带领观众近距离欣赏故宫建筑，观看历史细节，读解中国文化。</p>
						</div></a>
				</div>

				<div id="bigpic" >
					<img src="images/1.jpeg" alt=""/>
					<a><div class="txtwrapper">
						<div class="cata">学术活动</div>
						<h3>“鸿图华构·人文清华故宫行”直播</h3>
						<p>“鸿图华构·人文清华故宫行”大型直播，故宫博物院与清华大学合作，邀请知名学者带领观众近距离欣赏故宫建筑，观看历史细节，读解中国文化。</p>
						</div></a>
				</div>

			</div>

			<div class="smallplay">
				<div id="smallpic" >
					<a><img src="images/2.jpeg" alt=""/>
					<div class="txtwrapper">
						<div class="cata">学术活动</div>
						<h3>“鸿图华构·人文清华故宫行”直播</h3>
						</div></a>
				</div>
			</div> <!-- autoplay -->

			  {{ $jquery := resources.Get "slick/jquery.min.js" | minify }}
			<script type="text/javascript" src="{{ $jquery.Permalink }}"></script>
			  {{ $slickjs := resources.Get "slick/slick.min.js" | minify }}
			<script type="text/javascript" src="{{ $slickjs.Permalink }}"></script>

			  <script type="text/javascript">
				$('.autoplay').slick({
				  slidesToShow: 1,
				  slidesToScroll: 1,
				  autoplay: true,
				  arrows: false,
				  autoplaySpeed: 2000,
				  focusOnSelect: false,
				  pauseOnFocus: false,
				  pauseOnHover: false,

				});
			  </script>
		</div>
		</div>
	</div>

	<div class="section_3">
		<div class="mainwrap">
			<div class="container">
				<h2>
					<b></b>
					堆肥小课堂
					<b></b>
				</h2>
				<ul>
					{{ range (where site.RegularPages "Section" "duifei" | first 3) }}
					<a>
					<li>
						<div class="inner_con">
							{{ with .Resources.GetMatch "featuredImage" }}
							<img src="" alt="???">
							{{ end }}
							<div class="txtwrapper">
								<h3>{{ .Title }}</h3>
								<p>{{ .Summary }}</p>
							</div>
						</div>
					</li>
					</a>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
</div>


{{ end }}
